requests
beautifulsoup4
pymupdf
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-openai
chromadb
groq
streamlit
python-dotenv
tiktoken
sentence-transformers
huggingface-hub
fastapi
uvicorn